# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/node_modules

# testing
/coverage

# next.js
/frontend/.next/
/frontend/out/

# production
/frontend/build

# python
__pycache__/
*.py[cod]
.venv/
*.egg-info/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts

/frontend/src/generated/prisma

/frontend/data
