frontend/node_modules
frontend/.next
**/node_modules
**/.next
npm-debug.log
Dockerfile
.dockerignore
.venv
__pycache__/
*.pyc
.pytest_cache
.mypy_cache
.DS_Store
.git
.gitignore
# Uncomment the next line if you don't want to copy large datasets
# data/
# Uncomment the next line if you don't need migration files in the image
