OLLAMA_URL="http://host.docker.internal:11434/api/generate"
OLLAMA_MODEL="llama3"
MODEL_NAME="BAAI/bge-base-en-v1.5"
DATABASE_URL="postgresql+psycopg://postgres:postgres@db:5432/smarttrip"
POSTGRESQL_USERNAME="postgres"
POSTGRESQL_PASSWORD="postgres"
POSTGRESQL_PORT="5432"
POSTGRESQL_DATABASE="smarttrip"
POSTGRESQL_SERVER="db"
BACKEND_CORS_ORIGINS="http://localhost:3000"
JWT_SECRET_KEY="KSr9/RWQVu0fEV93JiiI6bUgFxe1JqxpJqW0CEvHmWk="
AUTH_TOKEN_EXPIRY_MIN=60
